
.ipynb_checkpoints/Assignment 0-checkpoint.ipynb
.ipynb_checkpoints/Assignment 1-checkpoint.ipynb
.ipynb_checkpoints/Assignment 2-checkpoint.ipynb
.ipynb_checkpoints/Assignment 3-checkpoint.ipynb
.ipynb_checkpoints/Assignment 7-checkpoint.ipynb
.ipynb_checkpoints/Assignment 9-checkpoint.ipynb
.ipynb_checkpoints/Assignment_8-checkpoint.ipynb
